body {
    background-image:linear-gradient(to right,#9FDBFF,#E3D6FD) ;
  }
  
  header {
    background-image:linear-gradient(to right,#bfa2f9,#72c6fa) ;
    padding: 20px 0;
  }
  
  h1 {
    font-size: 40px;
  }
  
  .form-group label {
    font-weight: bold;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
  }
  
  footer {
    background-image:linear-gradient(to right,#bfa2f9,#72c6fa) ;
    padding: 20px 0;
  }
  
  footer p {
    color: #fff;
    font-size: 16px;
  }
  